.App {
	font-family: sans-serif;
	margin: 15px;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
li.bpmn-diagram-item {
	color: #2880c0;
	cursor: pointer;
}
.bpmn-link {
	color: #2880c0;
	cursor: pointer;
	max-width: 85%;
	font-size: 12px;
}
.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.wrapper a {
	order: 3;
	margin-right: 2px;
}

li.bpmn-diagram-item {
	border-bottom: 1px solid #f2f2f2;
	padding: 4px 4px 4px 4px;
}

.cap-txt {
	max-width: 85%;
	cursor: pointer;
}
.business-cap {
	font-weight: 500;
	font-size: 14px;
	/* background-color: #fffff0; */
	layout: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid #eaeaea;
	padding: 5px;
}
